@import "~@fortawesome/fontawesome-free/css/all.min.css";
@import '~bootstrap/dist/css/bootstrap.min.css';

:root {
    --color-pink: #D14D72;
    --color-peach: #FFABAB;
    --color-peach-regular: #FCC8D1;
    --color-peach-very-light: #FEF2F4;
    --color-red: #ad0a22;
    --color-yellow: #16FF00;
  }
  