<div class="home-section">
    <div class="options-box">
        <p><i class="fa-solid fa-circle-check"></i> Elige la opción que desees:</p>
        <div class="options-container">
            <a routerLink="/upload-csv" class="option-button"><i class="fa-solid fa-cloud-arrow-up"></i>Upload CSV</a>
            <a routerLink="/view-data" class="option-button"><i class="fa-regular fa-eye"></i>Ver datos</a>
        </div>
        <div class="info-box">
            <p> Hecho con <i class="fa-solid fa-heart"></i> para Kirana lab por Mariel Gonzalez</p>
        </div>
    </div>
</div>